
* {
  box-sizing: border-box;
  color: #3D3D3D;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');



}

.page {
  width: 1390px;
  height: auto;
  background-color: #F1E0DB;
  display: flex;
  align-content: center;
  justify-content: center;
}

.page-content {
  display: flex;
  align-content: center;
  justify-content: center;
}

.column{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.page-white {
  background-color: #FFFCFA;
}